<html>
    <head>
	    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='styles.css')}}?q=22'>
	</head>
<body>
	<div class='pane' >
	<div class='header'><h2>Edit restaurant {{ restaurant.name }}:</h2></div>
	<h4><i>Proudly owned by {{ creator.name }}</i></h4>

	<div class='flash'>
		{% with messages = get_flashed_messages() %}
		    {% if messages %}
		    <ul>
		    {% for message in messages %}
		    	<li><strong>{{ message }}</strong></li>
		    {% endfor %}
		    </ul>
		    {% endif %}
		{% endwith %}
	</div>

	Restaurant name: <form action='{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}' method='post'>
		<input type='text' name='rest_name' placeholder='{{ restaurant.name }}'>
		<input type='hidden' value='{{ restaurant.id }}'>
		<input type='submit' value='edit'>
	</form>

	<a href='{{ url_for('newMenuItem', restaurant_id=restaurant.id)}}'><button>Add item</button></a>

	{% for section in sections.keys() %}
		{% if sections[section] %}
		<div class='menusection'>::{{ section }}::</div>
			{% for i in sections[section] %}
			<p>{{ i.name }}</p>
			<a href='{{ url_for('editMenuItem', restaurant_id=restaurant.id, 
	                                        menu_item_id=i.id)}}'><button>edit</button></a>
	        <a href='{{ url_for('deleteMenuItem', restaurant_id=restaurant.id,
	                                          menu_item_id=i.id)}}'><button>delete</button></a>
			{% endfor %}
		{% endif %}
	{% endfor %}

	{% for menu_item in menu_items %}
	<ul>
		<li>{{ menu_item.name }}</li>

	</ul>
	{% endfor %}
	<br><br>Click here to delete this restaurant
	<form action='{{ url_for('deleteRestaurant', restaurant_id=restaurant.id)}}' method='post'>
	<input type='submit' value='DELETE'>
	</form>
	<br><br><a href='{{ url_for('showRestaurants')}}'>Back to all Restaurants</a>
	</div>
</body>
</html> 