<html>
    <head>
	    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='styles.css')}}?q=16'>
	</head>
<body>
	<div class='pane' >
	<div class='header'><h2>{{ restaurant.name }} Menu</h2></div>
	<h4><i>Proudly owned by {{ creator.name }}</i></h4>
	<div class='flash'>
		{% with messages = get_flashed_messages() %}
		    {% if messages %}
		    <ul>
		    {% for message in messages %}
		    	<li><strong>{{ message }}</strong></li>
		    {% endfor %}
		    </ul>
		    {% endif %}
		{% endwith %}
	</div>
	{% for section in sections.keys() %}
		{% if sections[section] %}
		<div class='menusection'>::{{ section }}::</div>
			{% for i in sections[section] %}
			<div class='name'><p>{{ i.name }}</p></div>
			<div class='price'><p>{{ i.price }}</p></div>
			<div class='description'><p> {{i.description}} </p></div><br>
			{% endfor %}
		{% endif %}
	{% endfor %}
    </div>
</body>
</html> 