<html>
<body>
	<h2>Create new Item:</h2>
    <form method='post' action='{{ url_for('newMenuItem', restaurant_id=restaurant.id)}}'>
    <dl>
	<dt>Name:</dt>
		<dd><input type ='text' size='30' name='name'></dd>
	<dt>Description:</dt>
		<dd><textarea name = 'description' rows='5' cols='40'></textarea></dd>
	<dt>Price:</dt>
		<dd><input type = 'text' size = '8' name='price'></dd>
	<dt>Course:</dt>

	<dd><input type ='radio' name='course' value='Appetizer' >Appetizer</dd>
    <dd><input type ='radio' name='course' value='Entree'>Entree</dd>
    <dd><input type ='radio' name='course' value='Dessert'>Dessert</dd>
	<dd><input type ='radio' name='course' value='Beverage'>Beverage</dd>

</dl>

    <input type='submit' value='create'>
</form>
<a href='{{ url_for('editRestaurant', restaurant_id=restaurant.id)}}'>back to edit restaurant</a>
</body>
</html>