<html>
    <head>
	    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='styles.css')}}'>
	</head>
<body>
	<div class='pane' >
	<div class='header'><h2>Restaurants List</h2></div>
	<div class='flash'>
		{% with messages = get_flashed_messages() %}
		    {% if messages %}
		    <ul>
		    {% for message in messages %}
		    	<li><strong>{{ message }}</strong></li>
		    {% endfor %}
		    </ul>
		    {% endif %}
		{% endwith %}
	</div>

	<a href='{{ url_for('showLogin') }}'>Click here to login</a><br><br>

	
    {% for restaurant in restaurants %}
    <ul>
        <li class='restname'><a href='{{ url_for('showRestaurant', restaurant_id=restaurant.id) }}'>{{ restaurant.name }}</a></li>
    </ul>
    {% endfor %}
	</div>
</body>
</html>